{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "overrides": [
    { "files": ["*.jsx", "*.js", "*.scss"], "options": { "printWidth": 160 } }
  ]
}
